
<div class="container mt-lg">
  <div class="header">
    <h1>Питання</h1>
    <%= link_to "Create new question", new_question_path, class: 'button button-main' %>
  </div>

  <div class="form-container">
    <%= render "form", question: @question %>
  </div>

  <div class="questions-summary">
    <h2 class="title-lg mb-sm">
      <%= @questions.count %> <%= inclination(@questions.count, 'питання', 'питання', 'питань') %>
    </h2>
  </div>

  <div class="questions-list">
    <% @questions.each do |question| %>
      <div class="container mb-sm">
        <%= render question %>
      </div>
    <% end %>
  </div>
</div>
